<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre comic</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comic of pedidoCarrito">
                        <td>{{ comic.Nombre }}</td>
                        <td>{{ comic.Cantidad }}</td>
                        <td>{{ comic.Valor | currency }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total</td>
                        <td>{{ total | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-5">
            <form autocomplete="off" [formGroup]="formaCarrito">
                <label>Nombre</label>
                <input class="form-control" value="" type="text" placeholder="Ej: Carlos" formControlName="nombre" /><br />
                <label>Numero documento</label>
                <input class="form-control" value="" type="number" placeholder="Ej: 1233891978" formControlName="numeroDocumento" /><br />
                <label>Direccion</label>
                <input class="form-control" value="" type="text" placeholder="Ej: Carrera 111 b # 138 - 29" formControlName="direccion" /><br />
                <label>Celular</label>
                <input class="form-control" value="" type="number" placeholder="Ej: 3219902478" formControlName="celular" /><br />
                <label>Tipo Documento</label>
                <select class="form-control" formControlName="tipoDocumento">
          <option value="1" selected>Cedula</option>
          <option value="2">Tarjeta Identidad</option> </select
        ><br /><br />
        
      </form>
    </div>
    <div class="col-7">
        <button
        type="button"
        class="btn btn-primary"
        (click)="usuarioRegistrar()"
      >
        Comprar
      </button>
    </div>
  </div>
</div>